 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 @import url('http://fonts.cdnfonts.com/css/Disengaged');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 .wrapper,html{
  height: 100%;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 1.8em;
  z-index: -10000;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth
  
 
 
}

header{
  position: fixed;
  top: 0;left:0 ; right: 0;
  height: 80px;
  background-color: rgb(10, 5, 28);
  padding: 0px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index:10000;
  /* box-shadow:  0px 3px 3px 3px  rgb(202, 202, 202) ;
   */
  
}
.logo-container{
  position: relative;
  display: flex;
  flex-direction: row;
}
header .logo{
 flex: 1;
 height: 50px;
 top: 3px;
 margin-left: 25px;
 /* border-style: solid;
 border-radius: 33px;
 border-color: white; */

}



header .label{
   flex: 2;
   margin-top: 10px;
   margin-left:2px;
   font-size: 24px;
   font-family: 'Disengaged', sans-serif;
   font-weight: bolder;
   color: white;;
   text-decoration: none;
   text-align: center;
  
}
header .label:hover{
  color:white;
  transition: .8s;
}

header nav ul{
  list-style: none;
  display: inline;
  overflow: hidden;
 
  
}

header nav ul li{
  position: relative;
  float: left;
  
  
}

header nav ul li a{
  font-size: 18px;
  padding: 20px;
  color: rgb(72, 72, 72);
  display: block;
  text-decoration: none;
  text-align: center;

}
/* header nav ul li a:after{
  content: "";
  position: absolute;
  background-color: white;
  height: .5px;
  width: 0;
  left: 0;
  bottom: 24px;
  transition: 0.8s;
} */
header nav ul li a:hover{
  color: white;
}

header nav ul li a:hover:after{
  width: 100%;

}



.i,.ii,.iii,.iv,.v,.vi,.vii,.viii,.ix{
  position: relative;
  max-width: 100%;
  filter: brightness(.9);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
 
}


.i{
  display: flex;
  flex-direction: column;
  min-height: 700px;
  top: 5em;
  /* background-image: url('file:///C:/Users/Geekwise/Desktop/images/image3.jpg'); */
}
.i .datastring{
  position: absolute;
  top:8em;
  left: 12em;
  
}
.i .datastring h1{
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  color: white;
 
}
.i .cache010{
  position: absolute;
  overflow: hidden;
}
.i .cache010 .carousel-item {
  height: 500px;
  width: 100%;
  
  }
  .i .cache010 .carousel-item img {
  width: 100%;
 
  
  }
  .i .log-event{
    position: absolute;
    width:180px;
    height:70px;
    top: 23em;
    left: 33em;
  }

   .i .eventListener-scroll{
    
    padding:8px;
    color:white;
    font-size: 23px;
    text-decoration: none;
    
  }
   .fa-solid.fa-angles-down{
    animation: move 1.1s infinite ease-in-out;
  }

    @keyframes move {
      0%{margin-top:0;}
      50%{margin-top: 10%;}
      100%{margin-top: 0;}
      
    }

.ii{
  min-height: 500px;
  display: flex;
  justify-content: space-around;
  min-height:700px;
  top: 3em;
  flex-flow:wrap ;
  flex-direction:row;
  z-index: -1001;
  background-color: rgb(240, 240, 255);
  border-style: solid;
  


}

.ii .datastring{
  position: absolute;
  flex:1;
  top: 10em;
  left: 10em;
  color: black;
 
 }
.ii .datastring h1{
  font-size: 58px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  line-height: 1em;
}
.ii .datastring p{
 top: 9em;
 font-size: 18px;

}
.ii .cache011{
  position: absolute;
  flex: 2;
  top: 8em; 
  left: 48em;
 
}
.cache011 img{
  width: 55vh;
  height: 55vh;
  border-width: 33px;
  border-radius: 33vh;
  border-style: solid;
  border-top-color: whitesmoke;;
  border-bottom-color:whitesmoke ;
  border-left-color: rgb(211, 211, 211);
  border-right-color: midnightblue;
  padding: 12px;
}
.ii .cache011 .carousel-item{
  transition-property: all;
  transition-timing-function: ease-in-out;
  
}


.ii .btn.btn-primary{
  position: absolute;
  border-color:white;
  background-color: rgb(41, 41, 41);
  font-size:23px;
  animation: btn 2s infinite forwards;

}
@keyframes btn {
  0%{transform: scale(1);}
  25%{transform: scale(1.1);}

  
}

.iii{
  min-height: 500px;
  top: 3em;
  background-image: url('images/import-static-img-credit088.jpg');
  z-index: -99;
  transform: scale(1);
  transition: .5s ease-in-out;
  cursor: pointer;
  overflow: hidden;

  /* opacity: .3; */
}
.iii:hover{
  transform: scale(1.3);
 

}
.iii .datastring{
  position: absolute;
  top: 12em;
  

}
.iii .datastring h1{
  text-align: center;
  color: white;
}
.iii .brandbucket{
  position: absolute;
  display: flex;
  flex-direction: row;
 
}
.iii .brandbucket h1{
  margin-top:5em;
  margin-left: 10em;
  color: white;
}


.iv{
  min-height: 100%;
  display: flex;
  flex-direction: row;
  top: 3em;
  background-color: rgb(251, 251, 251);
  

}

 .cache013{
  flex: 1;
}



.imgcache012{
  position: absolute;
  height:33rem;
  top: 7em;
  left: 2rem;
  

}
.imgcache013{
  position: absolute;
  height: 180px;
  top: 10em;
  left: 23em;

}

.imgcache014{
  position: absolute;
  height: 180px;
  top: 20rem;
  left:8em;

}

.iv .datastring{
 position: absolute;
  flex:2;
  top: 12em;
  left: 50em;
  color: rgb(85, 85, 85);

}


.iv .datastring h1{
  right: 74em;
 

}
.iv .datastring p{
  top:15rem;
  right:5rem;
  font-family: poppins;
  font-size: 18px;
 }

 .v{
  display: flex;
  flex-direction: row;
  min-height: 100%;
  top:3em;
  background-color: rgb(251, 251, 251);
 
}
.v .datastring{
  position: absolute;
}
.v .datastring h1{
 
  margin-top:2em;
  margin-left:7em ; 
  font-family:'Poppins', 'san-serif'; 
  font-size:48px; 
  font-weight: bold; 
  text-align: center;
  color: rgb(36, 36, 36);
  text-align: center;

}
.v .datastring h2{
  margin-top: 3em;
  margin-left: 3em;
  font-size: 44px;
  font-family: 'poppins';
  color: rgb(115, 115, 115)
}
.v .datastring p{
  margin-top: 1em;
  margin-left: 7em;
  font-family: 'poppins';
  font-size: 18px;
  color: black;
}

 .cache014{
  position: absolute;
  flex: 2;
}
.cache014 .imgcache015{
  position: absolute;
  width: 33rem;
  height:33rem;
  top: 15em;
  left: 45em;
}
.cache014 .imgcache016{
  position: absolute;
  height: 180px;
  top:22em;
  left: 68em;
}
.cache014 .imgcache017{
  position: absolute;
  height: 180px;
  top: 20em;
  left: 45em;
}

.vi{
  background-color: rgb(249, 249, 253);
  display: flex;
  flex-direction: row;
  min-height: 100%;
  top: 3em;
  /* background-color: white; */
 

}
.vi h1{
  position: absolute;
  font-weight: bold;
  top: 2em;
  left: 12em;
  text-align: center;
  color: rgb(0, 0, 0)
}

 
 .vi .cache015{
  position: absolute;
  flex: 1;

}
.vi .card{
  height: 275px;
  top: 15em;
  left: 3em;
  padding: 8px 8px 1px 1px;
  background-color: white;
  border-top-color: orange;
  border-style: solid;
  border-width: 4px;
  box-shadow: 8px 12px 7px gainsboro, 3px 3px 5px silver;
  color: #666;
  
}

.vi .card .card-title{
 
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
}
.vi .card .card-text{
  font-size: 12px;
  font-weight: bold;
}
.cache015 .row .card .card-text.p{
 
  font-size: 10px;
  font-weight: lighter;
  line-height: 15px;
}
.cache015 .row .card .card-body{
  box-shadow: 0 0 2px 7px white;
}
.vi .datastring{
  position: absolute;
  flex: 2;
  top: 15.5em;
  margin-left: 50em;
 
}


.vi .datastring p{
  font-family: 'poppins';
  font-size: 18px;
  text-align: center;
  color: black;
}

.vii{
  display: flex;
  flex-direction: row;
  min-height: 100%;
  background-color: rgb(249, 249, 253);
}
.vii .fetch-img{
  position: absolute;
  top: 10em;
  left:38em;
}
.vii .fetch-img .img020{
  width: 360px;
  height: 300px;
  background-color: #242526;
}
.vii .datastring{
  position: absolute; 
  top: 12em;
  left:10em;
  
}

.viii{
  display: flex;
  flex-direction: row;
  min-height: 100%;
  
  background-color: rgb(10, 5, 28); 
  color: white;
}
.viii h1{

  position: absolute;
  top: 4em;
  left: 12em;
  font-weight: bold;

}
.viii .cache016{
  position: absolute;
  top: 22em;
  left: 41.5em;
}
.viii .cache016 .draw-border{
  position: absolute;
  top: -4em;
  left: -11em;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 3px;
  border-radius: 12px;;
  box-shadow: 3px 3px 7px #fbfbfbfb, 3px 3px 0px white;
  background-color: rgb(253, 253, 253);
}
.viii .cache016 .import-vector000{
  position: absolute;
}
.viii .cache016 .img000{
  position: absolute;
  top: 25px;
  left: 23px;
  width: 150px;
  height: 150px;
  font-family: 'Disengaged', Helvetica, sans-serif;
  font-size: 88px;
 }
 .cache016 .brandbucket000{
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 10em;
  margin-left: 3px;
}
.cache016 .img034{
  flex: 1;
  width: 5em;
  height: auto;
 
}
.cache016 .img035{
  flex: 2;
  width: 5em;
  height: auto;
}


.neumorphism-1{
  position: absolute;
  top: 5em;
  left: 5em;
  height: 150px;
  width: 150px;
  background-color: rgb(10, 5, 28);
  border-radius: 5px;
  box-shadow: 1px 1px -3px #fbfbfbfb, 3px 3px 5px rgb(115, 115, 115);
}
 .neumorphism-2{
  position: absolute;
  top: 8em;
  left: 55em;
  height: 150px;
  width: 150px;
  background-color: rgb(10, 5, 28);
  border-radius: 5px;
  box-shadow: inset -3px -3px 7px #fbfbfbfb, inset 3px 3px 5px rgb(115, 115, 115);
}
 .neumorphism-3{
  position: absolute;
  top: 20em;
  left: 65em;
  height: 150px;
  width: 150px;
  background-color: rgb(10, 5, 28);
  border-radius: 50%;
  box-shadow: -3px -3px 7px #fbfbfbfb, 3px 3px 5px rgb(115, 115, 115);
}
.neumorphism-3:after{
  position: absolute;
  content: "";
  width: 80%;
  height: 80%;
  top: 15px;
  left: 15px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset -3px -3px 7px #fbfbfbfb, inset 3px 3px 5px rgb(115, 115, 115);
}
.neumorphic-char{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 4em;
  left: 8em;
  font-family: 'Poppins',sans-serif;
  font-size: 150px;
  background-color: rgb(10, 5, 28);;
  color: #bebebe;
  text-shadow: 
  28px 18px 12px rgb(255, 255, 255),
  8px 8px -12px rgb(10, 5, 28);;
  caret-color:rgb(255, 255, 255);
  outline: none;
}

.ix{
  min-height: 700px;
  background-color: black;
  color: white;
}

.ix .row .footer{
  position: absolute;
  margin-top: 7em;
  margin-left: 5em;
 
}
.footer-title{
 font-size: 18px;
 text-align: center;
}
.footer-text{
  margin-top: 2em;;
}
.footer-text a{
  text-decoration: none;
  color: white;
}
.footer-text a:hover{
  color: white;
}
 .ix .footnote .footnote-text{
  position: relative;
  margin-top: 2em;
  line-height: 1.5em;
}

.ix .import.form-viii{
  position: absolute;
  top: 14em;
  left: 60em;
}
#email{
  width: 15em;
}
.btn.btn-danger{
  position: absolute;
  width: 40px;
  height: 35px;
  left: 12.5em;
  border-radius: 0;
}
.footnote{
  position: absolute;
  top: 23em;
  left: 5em;
}
.footnote .footnote-text{
  margin-top: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: .5em;
  color: rgb(108, 108, 108);
}
/* Text Animations */


.ii .datastring h1,p{
  animation: text 3s 1;
  
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

@keyframes text{
  0%{
    color: #666;
    margin-top: 40%;
  }
  30%{
    margin-bottom: -40px;
  }
  85%{
    margin-bottom: 40px;
  }
}

#scrolltop {
  display: none;
}

#rocketmeluncur {
  position: fixed;
  bottom: 50px;
  z-index: 7;
  display: none;
  visibility: hidden;
  width: 26px;
  height: 48px;
  right: 25px;
  background: url(https://3.bp.blogspot.com/-GZOBULN1Q4s/VbNxQrf37EI/AAAAAAAAAPk/rak337seJ70/s1600/Ask.png) no-repeat 50% 0;
  opacity: 0;
  -webkit-transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -webkit-transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

#rocketmeluncur i {
  display: block;
  margin-top: 48px;
  height: 14px;
  background: url(https://1.bp.blogspot.com/-UR9I7YEuEUY/VXIJn8MrBPI/AAAAAAAAKRE/qZObHBd5zIo/s1600/rocket.png) no-repeat 50% -48px;
  opacity: .5;
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  transition: transform .2s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0
}

#rocketmeluncur:hover {
  background-position: 50% -62px
}

#rocketmeluncur:hover i {
  background-position: 50% 100%;
  -webkit-animation: flaming .7s infinite;
  -moz-animation: flaming .7s infinite;
  animation: flaming .7s infinite
}

#rocketmeluncur.showrocket {
  visibility: visible;
  opacity: 1
}

#rocketmeluncur.launchrocket {
  background-position: 50% -62px;
  opacity: 0;
  -webkit-transform: translateY(-800px);
  -moz-transform: translateY(-800px);
  -ms-transform: translateY(-800px);
  transform: translateY(-800px);
  pointer-events: none
}

#rocketmeluncur.launchrocket i {
  background-position: 50% 100%;
  -webkit-transform: scale(1.4, 3.2);
  -moz-transform: scale(1.4, 3.2);
  transform: scale(1.4, 3.2)
}

/* @media screen and (min-width:1200px) {
  .header {
    width: 900px;
  }

  
} */



@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper ul li{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
   /* header .logo-container .logo{
    position: fixed;
    top: 12px;
    left: 400px;
  } */
  header .logo-container .label{
    position: fixed;
    top: 12px;
    left: 44%;
  }
  .i .d-block.w-100{
    min-height: 100%;
    top: 8em;
  } 
  .i .fetch.data-link{
    position: absolute;
    left: 14em;
  }
  .i .datastring{
   display: none;
  }
  .ii .cache011{
    position: relative;
    display: inline-block;
    text-align: center;
    max-height: 0px;
    overflow: hidden;
  }
  .ii .datastring h1{
    position: relative;
    left: -.5em;
  }
  .ii .datastring p{
  display: none;
   
  }
  .iii .datastring h1{
    display: block;
    left: 2em;
  }


 
   .iv,.v,.vi,.vii,.viii, .imgcache015,.imgcache016,.imgcache017 {
    display: none;
   }
   #rocketmeluncur{
    display: none;
   }
   #rocketmeluncur.showrocket{
    visibility: hidden;
   }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  nav ul li{
    margin: 15px 10px;
  }
   nav ul li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  nav ul li .desktop-item{
    display: none;
  }
  nav ul li .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }

  
}
nav input{
  display: none;
}
